<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

In [1]:
import numpy as np
import pandas as pd

To start with load `rock.csv` into a dataframe.

In [2]:
# ANSWER
rock_csv = 'rock.csv'
rock = pd.read_csv(rock_csv)

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [3]:
# ANSWER
rock.columns

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [4]:
def clean_column_name(column_names):
    clean_column_names = []
    for c in column_names:
        c = c.lower().replace(' ', '_')
        c = c.lower().replace('*', '')
        c = c.lower().replace('?', '')
        clean_column_names.append(c)

    return clean_column_names

In [5]:
rock.columns = clean_column_name(rock.columns)

In [6]:
rock.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [7]:
# ANSWER
rock.isnull().sum()

song_clean        0
artist_clean      0
release_year    577
combined          0
first             0
year              0
playcount         0
fg                0
dtype: int64

In [8]:
# Replace 577 null values with 0
# Identify the rows
null_mask = rock['release_year'].isnull()
rock.loc[null_mask,'release_year']=0

In [9]:
# Check  if null values have been replaced
rock.isnull().sum()

song_clean      0
artist_clean    0
release_year    0
combined        0
first           0
year            0
playcount       0
fg              0
dtype: int64

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [10]:
# ANSWER
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_clean    2230 non-null   object
 1   artist_clean  2230 non-null   object
 2   release_year  2230 non-null   object
 3   combined      2230 non-null   object
 4   first         2230 non-null   int64
 5   year          2230 non-null   int64
 6   playcount     2230 non-null   int64
 7   fg            2230 non-null   int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [11]:
# Release year should be an integer rather than an object
# Check values of release_year to see if there is a reason why it is showing as an object
rock['release_year'].value_counts()

release_year
0                577
1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1981              61
1967              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1985              39
1987              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1964              14
1992              14
1999              13
1995              10
1997               9
1963               9
1996               9
1998               6
2002               6
2005               5
2004               5
2012               5
2001               4
2007               3
1962               3
2000               3
2011               3
2003               3
2008               3
2014               2
2013               2
2006               1
SONGFACTS.COM      1
1071               1
1958               1
1955               1
1961               1
Name: count, dtype: int64

In [12]:
# Find all the rows with SONGFACTS.COM (use mask)
song_facts_mask = rock['release_year'] == 'SONGFACTS.COM'
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [13]:
# Convert release year to integer / numeric
rock['release_year'] = pd.to_numeric(rock['release_year'])

In [14]:
# Check datatypes
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [15]:
# ANSWER
def check_min_max(df):
    # Check min, max of each column
    print(df.describe().T[['min', 'max']])

In [16]:
check_min_max(rock)

              min     max
release_year  0.0  2014.0
first         1.0     1.0
year          0.0     1.0
playcount     0.0   142.0
fg            0.0   142.0

In [17]:
#release_year cannot be 0
# Find and replace all rows where release_year = 0
song_facts_mask = rock['release_year'] == 0
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [18]:
check_min_max(rock)

                 min     max
release_year  1071.0  2014.0
first            1.0     1.0
year             0.0     1.0
playcount        0.0   142.0
fg               0.0   142.0

In [19]:
# 1071 is unlikely...replace
song_facts_mask = rock['release_year'] == 1071
rock.loc[song_facts_mask, 'release_year'] = np.NaN

In [20]:
check_min_max(rock)

                 min     max
release_year  1955.0  2014.0
first            1.0     1.0
year             0.0     1.0
playcount        0.0   142.0
fg               0.0   142.0

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [21]:
# ANSWER
#check dtypes
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

In [22]:
def check_song(row):
    print('Song: ', row['song_clean'])
    print('Artist: ', row['artist_clean'])
    print('Released before 1970: ', row['release_year'] < 1970)
    print('\n')

In [23]:
rock.iloc[0]

song_clean                     Caught Up in You
artist_clean                        .38 Special
release_year                             1982.0
combined        Caught Up in You by .38 Special
first                                         1
year                                          1
playcount                                    82
fg                                           82
Name: 0, dtype: object

In [24]:
# Check any row using index
check_song(rock.iloc[0])

Song:  Caught Up in You
Artist:  .38 Special
Released before 1970:  False

In [25]:
# Check first five rows
rock.head(5).apply(check_song, axis=1)

Song:  Caught Up in You
Artist:  .38 Special
Released before 1970:  False


Song:  Fantasy Girl
Artist:  .38 Special
Released before 1970:  False


Song:  Hold On Loosely
Artist:  .38 Special
Released before 1970:  False


Song:  Rockin' Into the Night
Artist:  .38 Special
Released before 1970:  False


Song:  Art For Arts Sake
Artist:  10cc
Released before 1970:  False

0    None
1    None
2    None
3    None
4    None
dtype: object

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [26]:
# ANSWER
def convert_to_numeric(column):
    column = pd.to_numeric(column, errors='coerce')
    return column

In [27]:
rock['combined']

0                         Caught Up in You by .38 Special
1                             Fantasy Girl by .38 Special
2                          Hold On Loosely by .38 Special
3                   Rockin' Into the Night by .38 Special
4                               Art For Arts Sake by 10cc
                              ...
2225                    She Loves My Automobile by ZZ Top
2226                          Tube Snake Boogie by ZZ Top
2227                                       Tush by ZZ Top
2228                                 TV Dinners by ZZ Top
2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...
Name: combined, Length: 2230, dtype: object

### Apply this last function to your dataset

In [28]:
# ANSWER
rock[['release_year', 'first', 'year', 'playcount', 'fg']].apply(convert_to_numeric)

      release_year  first  year  playcount   fg
0           1982.0      1     1         82   82
1              NaN      1     0          3    0
2           1981.0      1     1         85   85
3           1980.0      1     1         18   18
4           1975.0      1     1          1    1
...            ...    ...   ...        ...  ...
2225           NaN      1     0          1    0
2226        1981.0      1     1         32   32
2227        1975.0      1     1        109  109
2228        1983.0      1     1          1    1
2229        1973.0      1     1          2    2

[2230 rows x 5 columns]

### 'Describe' the new DataFrame

In [29]:
# ANSWER
rock.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,1651.0,1978.569352,9.309780,1955.0,1971.0,1977.0,1984.0,2014.0
first,2230.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
year,2230.0,0.741256,0.438043,0.0,0.0,1.0,1.0,1.0
playcount,2230.0,16.872646,25.302972,0.0,1.0,4.0,21.0,142.0
fg,2230.0,15.048430,25.288366,0.0,0.0,3.0,18.0,142.0

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---