In [1]:
# Reconnect to SQLite database (or create it if it doesn't exist)
import sqlite3
import pandas as pd

In [2]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [3]:
# Create the students table
cursor.execute('''
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')

In [4]:
# Create the courses table
cursor.execute('''
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY,
    course_name TEXT NOT NULL
);
''')

In [5]:
# Create the enrollments table
cursor.execute('''
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students (student_id),
    FOREIGN KEY (course_id) REFERENCES courses (course_id)
);
''')

In [6]:
# Create the exams table
cursor.execute('''
CREATE TABLE exams (
    exam_id INTEGER PRIMARY KEY,
    enrollment_id INTEGER,
    score INTEGER,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments (enrollment_id)
);
''')

In [7]:
# Insert sample data into the 
# Insert sample data into the courses table

cursor.executemany('''
INSERT INTO students (student_id, name, age, major) VALUES (?, ?, ?, ?);''', [
    (1, 'Alice', 15, 'Computer Science'), 
    (2, 'Sam', 10, 'Stats'), 
    (3, 'Bob', 17, 'Physics'), 
    (4, 'Charlie', 16, 'Mathematics'), 
    (5, 'David', 14, 'Biology'), 
    (6, 'Eva', 13, 'Chemistry'), 
    (7, 'Frank', 12, 'Engineering'), 
    (8, 'Grace', 18, 'Literature'), 
    (9, 'Hannah', 19, 'Philosophy'), 
    (10, 'Ian', 20, 'Art')
])


cursor.executemany('''
INSERT INTO courses (course_id, course_name) VALUES (?, ?);''', [
    (1, 'Algorithms'), 
    (2, 'Data Structures'), 
    (3, 'Databases'), 
    (4, 'Machine Learning'), 
    (5, 'Artificial Intelligence'), 
    (6, 'Networking'), 
    (7, 'Operating Systems'), 
    (8, 'Software Engineering'), 
    (9, 'Cyber Security'), 
    (10, 'Computer Graphics')
])
# Insert sample data into the enrollments table
cursor.executemany('''
INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES (?, ?, ?);''', [
    (1, 1, 1), 
    (2, 2, 2), 
    (3, 3, 3), 
    (4, 4, 4), 
    (5, 5, 5), 
    (6, 6, 6), 
    (7, 7, 7), 
    (8, 8, 8), 
    (9, 9, 9), 
    (10, 10, 10)
])
# Insert sample data into the exams table
cursor.executemany('''
INSERT INTO exams (exam_id, enrollment_id, score) VALUES (?, ?, ?);''', [
    (1, 1, 95), 
    (2, 2, 88), 
    (3, 3, 92), 
    (4, 4, 85), 
    (5, 5, 78), 
    (6, 6, 90), 
    (7, 7, 82), 
    (8, 8, 89), 
    (9, 9, 94), 
    (10, 10, 91)
])
# Commit the changes
conn.commit()

In [8]:
# View data in the students table
print("Data in students table:")
students_data = cursor.execute("SELECT * FROM students").fetchall()
for row in students_data:
    print(row)

Data in students table:
(1, 'Alice', 15, 'Computer Science')
(2, 'Sam', 10, 'Stats')
(3, 'Bob', 17, 'Physics')
(4, 'Charlie', 16, 'Mathematics')
(5, 'David', 14, 'Biology')
(6, 'Eva', 13, 'Chemistry')
(7, 'Frank', 12, 'Engineering')
(8, 'Grace', 18, 'Literature')
(9, 'Hannah', 19, 'Philosophy')
(10, 'Ian', 20, 'Art')

In [9]:
# View data in the enrollments table
print("\nData in enrollments table:")
enrollments_data = cursor.execute("SELECT * FROM enrollments").fetchall()
for row in enrollments_data:
    print(row)

Data in enrollments table:
(1, 1, 1)
(2, 2, 2)
(3, 3, 3)
(4, 4, 4)
(5, 5, 5)
(6, 6, 6)
(7, 7, 7)
(8, 8, 8)
(9, 9, 9)
(10, 10, 10)

In [10]:
# Get name of students whose major is computer science (or whatever name you have in your data)
name = cursor.execute(""" SELECT name FROM students WHERE major = 'Computer Science';""")
name.fetchall()

[('Alice',)]

In [13]:
# Get count of students per major
major = cursor.execute(""" SELECT major, COUNT(*) FROM students GROUP BY major; """)
major.fetchall()

[('Art', 1),
 ('Biology', 1),
 ('Chemistry', 1),
 ('Computer Science', 1),
 ('Engineering', 1),
 ('Literature', 1),
 ('Mathematics', 1),
 ('Philosophy', 1),
 ('Physics', 1),
 ('Stats', 1)]

In [14]:
# get major name and min and max student age for each
query = """ SELECT major, min(age), max(age)
            FROM students
            GROUP BY major;"""

cursor.execute(query)
results = cursor.fetchall()
print(results)

[('Art', 20, 20), ('Biology', 14, 14), ('Chemistry', 13, 13), ('Computer Science', 15, 15), ('Engineering', 12, 12), ('Literature', 18, 18), ('Mathematics', 16, 16), ('Philosophy', 19, 19), ('Physics', 17, 17), ('Stats', 10, 10)]

In [17]:
# get list of majors and count of students in each and average age of these students
query = """ SELECT major, COUNT(age) AS student_count, avg(age) AS student_age
            FROM students
            GROUP BY major;"""

cursor.execute(query)
results = cursor.fetchall()
print(results)

[('Art', 1, 20.0), ('Biology', 1, 14.0), ('Chemistry', 1, 13.0), ('Computer Science', 1, 15.0), ('Engineering', 1, 12.0), ('Literature', 1, 18.0), ('Mathematics', 1, 16.0), ('Philosophy', 1, 19.0), ('Physics', 1, 17.0), ('Stats', 1, 10.0)]

In [20]:
# Get average students ages
query = """ SELECT avg(age)
            FROM students; """

cursor.execute(query)
results = cursor.fetchall()
print(results)

[(15.4,)]

In [16]:
# Get student names that are not enrolled in any course
query = """ SELECT name
            FROM students
            WHERE student_id not in (SELECT student_id FROM enrollments);"""

cursor.execute(query)
results = cursor.fetchall()
print(results)

[]

In [30]:
# get list of student names and the course names they are enrolled in
query = """ SELECT students.name AS student_name,
            (SELECT courses.course_name
            FROM courses
            WHERE courses.course_id IN (SELECT enrollments.course_id
                                 FROM enrollments
                                 WHERE enrollments.student_id = students.student_id)
    ) AS course_name
FROM students; """

cursor.execute(query)
results = cursor.fetchall()
print(results)

[('Alice', 'Algorithms'), ('Sam', 'Data Structures'), ('Bob', 'Databases'), ('Charlie', 'Machine Learning'), ('David', 'Artificial Intelligence'), ('Eva', 'Networking'), ('Frank', 'Operating Systems'), ('Grace', 'Software Engineering'), ('Hannah', 'Cyber Security'), ('Ian', 'Computer Graphics')]

In [32]:
# get course name and count of students enrolled in
query = """ SELECT c.course_name,
    (SELECT COUNT(*)
     FROM enrollments e
     WHERE e.course_id = c.course_id
    ) AS student_count
    FROM courses c; """

cursor.execute(query)
results = cursor.fetchall()
print(results)

[('Algorithms', 1), ('Data Structures', 1), ('Databases', 1), ('Machine Learning', 1), ('Artificial Intelligence', 1), ('Networking', 1), ('Operating Systems', 1), ('Software Engineering', 1), ('Cyber Security', 1), ('Computer Graphics', 1)]

In [35]:
# get student name, major, age and age rank

query = """ WITH RankedStudents AS 
            (SELECT name, major, age,
            ROW_NUMBER() OVER (ORDER BY age ASC) AS age_rank
            
            FROM students)
            SELECT name, major, age, age_rank
            FROM RankedStudents; """

cursor.execute(query)
results = cursor.fetchall()
print(results)

[('Sam', 'Stats', 10, 1), ('Frank', 'Engineering', 12, 2), ('Eva', 'Chemistry', 13, 3), ('David', 'Biology', 14, 4), ('Alice', 'Computer Science', 15, 5), ('Charlie', 'Mathematics', 16, 6), ('Bob', 'Physics', 17, 7), ('Grace', 'Literature', 18, 8), ('Hannah', 'Philosophy', 19, 9), ('Ian', 'Art', 20, 10)]