<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**Installation instructions for Windows users:**

[Install MongoDB Community Edition on Windows](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-windows/)

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [1]:
#!pip install pymongo

In [2]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.6.3

**Start the mongod server (if it isn't already running):**

Windows:
1. Using Command Prompt navigate to the folder containing `mongod.exe` (e.g. by typing cd "C:\Program Files\MongoDB\Server\7.0\bin").
2.  Execute `mongod` at the prompt.

Mac:
1. Run `brew services start mongodb-community@7.0`

In [3]:
# Creating a client object in our local machine
client = MongoClient('localhost', 27017)

In [4]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [5]:
db = client.test

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [6]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [7]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [8]:
#ANSWER
mycol = db.shoppers

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [9]:
#ANSWER:
mydict = {"name": "Paul", "address":"Mansfield Ave"}
mydict

{'name': 'Paul', 'address': 'Mansfield Ave'}

In [10]:
x = mycol.insert_one(mydict)

In [11]:
x

InsertOneResult(ObjectId('6692127fc7c6680b387515e6'), acknowledged=True)

Now test for the existence of the database:

In [12]:
#ANSWER:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

List all collections in the database:

In [13]:
#ANSWER
print(db.list_collection_names())

['shoppers']

Insert another record in the "shoppers" collection
("name" = "Rafa", "address" = "Holder Drive")
and return the value of the _id field:

In [14]:
mydict = {"name": "Rafa", "address":"Holder Drive"}
x = mycol.insert_one(mydict)
mydict

{'name': 'Rafa',
 'address': 'Holder Drive',
 '_id': ObjectId('66921289c7c6680b387515e7')}

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [15]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]

In [16]:
x = mycol.insert_many(mylist)

In [17]:
x

InsertManyResult([ObjectId('6692128ec7c6680b387515e8'), ObjectId('6692128ec7c6680b387515e9'), ObjectId('6692128ec7c6680b387515ea'), ObjectId('6692128ec7c6680b387515eb'), ObjectId('6692128ec7c6680b387515ec'), ObjectId('6692128ec7c6680b387515ed'), ObjectId('6692128ec7c6680b387515ee'), ObjectId('6692128ec7c6680b387515ef'), ObjectId('6692128ec7c6680b387515f0'), ObjectId('6692128ec7c6680b387515f1')], acknowledged=True)

Print a list of the _id values of the inserted documents:

In [18]:
print(x.inserted_ids)

[ObjectId('6692128ec7c6680b387515e8'), ObjectId('6692128ec7c6680b387515e9'), ObjectId('6692128ec7c6680b387515ea'), ObjectId('6692128ec7c6680b387515eb'), ObjectId('6692128ec7c6680b387515ec'), ObjectId('6692128ec7c6680b387515ed'), ObjectId('6692128ec7c6680b387515ee'), ObjectId('6692128ec7c6680b387515ef'), ObjectId('6692128ec7c6680b387515f0'), ObjectId('6692128ec7c6680b387515f1')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [21]:
mylist = [
  { "_id": 1, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 2, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 3, "name": "Ashton", "address": "Axle St"},
  { "_id": 4, "name": "Benjamin", "address": "Green Dr"},
  { "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  { "_id": 6, "name": "Helen", "address": "Castor Prom"},
  { "_id": 7, "name": "Craig", "address": "Parsons Way"},
  { "_id": 8, "name": "Betty", "address": "Watters St"},
  { "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  { "_id": 10, "name": "Kent", "address": "Garrison St"},
  { "_id": 11, "name": "Violet", "address": "Station St"},
  { "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.shoppers index: _id_ dup key: { _id: 1 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'op': {'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Now try inserting a new dict with an existing `_id`:

In [19]:
# Warning -- This code will return an error as id no: 12 is already exists
#x = mycol.insert_one({ "_id": 12, "name": "Lola", "address": "Prospect Dr"})

DuplicateKeyError: E11000 duplicate key error collection: test.shoppers index: _id_ dup key: { _id: 12 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.shoppers index: _id_ dup key: { _id: 12 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 12}}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [22]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('669202019ae7565f315470bb'), 'name': 'Paul', 'address': 'Mansfield Ave'}

Do the same for the document containing "name" = "Ashton":

In [23]:
x = mycol.find_one({"name":"Ashton"})
print(x)

{'_id': ObjectId('6692089b9ae7565f315470be'), 'name': 'Ashton', 'address': 'Axle St'}

This returns (and prints) all documents in the collection:

In [24]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('669202019ae7565f315470bb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('669203d19ae7565f315470bc'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('669204109ae7565f315470bd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692089b9ae7565f315470be'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692089b9ae7565f315470bf'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692089b9ae7565f315470c0'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692089b9ae7565f315470c1'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692089b9ae7565f315470c2'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692089b9ae7565f315470c3'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692089b9ae7565f315470c4'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692089b9ae7565f315470c5'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692089b9ae7565f315470c6'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692089b9ae7565f315470c7'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e11a'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e11b'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692111e4b6c814ab538e11c'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692111e4b6c814ab538e11d'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e11e'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692111e4b6c814ab538e11f'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692111e4b6c814ab538e120'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692111e4b6c814ab538e121'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692111e4b6c814ab538e122'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e123'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692111e4b6c814ab538e124'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692111e4b6c814ab538e125'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66921229077adb129dcd2594'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66921234077adb129dcd2595'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692123a077adb129dcd2596'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692123a077adb129dcd2597'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692123a077adb129dcd2598'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692123a077adb129dcd2599'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692123a077adb129dcd259a'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692123a077adb129dcd259b'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692123a077adb129dcd259c'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692123a077adb129dcd259d'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692123a077adb129dcd259e'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692123a077adb129dcd259f'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692127fc7c6680b387515e6'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66921289c7c6680b387515e7'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692128ec7c6680b387515e8'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692128ec7c6680b387515e9'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692128ec7c6680b387515ea'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692128ec7c6680b387515eb'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692128ec7c6680b387515ec'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692128ec7c6680b387515ed'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692128ec7c6680b387515ee'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692128ec7c6680b387515ef'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692128ec7c6680b387515f0'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692128ec7c6680b387515f1'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

This returns only the name and address fields:

In [25]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

Print only the `_id` and name fields:

In [26]:
#ANSWER
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
   print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [27]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('6692089b9ae7565f315470c3'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692089b9ae7565f315470c4'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692089b9ae7565f315470c6'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692089b9ae7565f315470c7'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e121'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692111e4b6c814ab538e122'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e124'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692111e4b6c814ab538e125'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692123a077adb129dcd259b'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692123a077adb129dcd259c'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692123a077adb129dcd259e'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692123a077adb129dcd259f'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692128ec7c6680b387515ed'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692128ec7c6680b387515ee'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692128ec7c6680b387515f0'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692128ec7c6680b387515f1'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [29]:
#ANSWER:
myquery3 = { "address": { "$regex": "^W" } }
mydoc = mycol.find(myquery3)
for x in mydoc:
    print(x)

{'_id': ObjectId('6692089b9ae7565f315470c3'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692089b9ae7565f315470c7'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e121'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692111e4b6c814ab538e125'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692123a077adb129dcd259b'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692123a077adb129dcd259f'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692128ec7c6680b387515ed'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692128ec7c6680b387515f1'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [30]:
#ANSWER:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('6692089b9ae7565f315470c4'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e122'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692123a077adb129dcd259c'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692128ec7c6680b387515ee'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692089b9ae7565f315470be'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692111e4b6c814ab538e11c'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692123a077adb129dcd2596'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692128ec7c6680b387515e8'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692089b9ae7565f315470bf'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e11d'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692123a077adb129dcd2597'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692128ec7c6680b387515e9'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692089b9ae7565f315470c3'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692111e4b6c814ab538e121'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692123a077adb129dcd259b'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692128ec7c6680b387515ed'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692089b9ae7565f315470c2'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692111e4b6c814ab538e120'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692123a077adb129dcd259a'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692128ec7c6680b387515ec'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692089b9ae7565f315470c1'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692111e4b6c814ab538e11f'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692123a077adb129dcd2599'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692128ec7c6680b387515eb'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692089b9ae7565f315470c5'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692111e4b6c814ab538e123'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692123a077adb129dcd259d'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692128ec7c6680b387515ef'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('669202019ae7565f315470bb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e11a'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66921229077adb129dcd2594'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692127fc7c6680b387515e6'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('669203d19ae7565f315470bc'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('669204109ae7565f315470bd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692111e4b6c814ab538e11b'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66921234077adb129dcd2595'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66921289c7c6680b387515e7'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692089b9ae7565f315470c0'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692111e4b6c814ab538e11e'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692123a077adb129dcd2598'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692128ec7c6680b387515ea'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692089b9ae7565f315470c7'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e125'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692123a077adb129dcd259f'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692128ec7c6680b387515f1'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692089b9ae7565f315470c6'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692111e4b6c814ab538e124'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692123a077adb129dcd259e'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692128ec7c6680b387515f0'), 'name': 'Violet', 'address': 'Station St'}

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [31]:
#ANSWER
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
    print(x)

{'_id': ObjectId('6692089b9ae7565f315470c6'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692111e4b6c814ab538e124'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692123a077adb129dcd259e'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692128ec7c6680b387515f0'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('6692089b9ae7565f315470c7'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e125'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692123a077adb129dcd259f'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692128ec7c6680b387515f1'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('6692089b9ae7565f315470c0'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692111e4b6c814ab538e11e'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692123a077adb129dcd2598'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('6692128ec7c6680b387515ea'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('669203d19ae7565f315470bc'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('669204109ae7565f315470bd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('6692111e4b6c814ab538e11b'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66921234077adb129dcd2595'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66921289c7c6680b387515e7'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('669202019ae7565f315470bb'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692111e4b6c814ab538e11a'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66921229077adb129dcd2594'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692127fc7c6680b387515e6'), 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('6692089b9ae7565f315470c5'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692111e4b6c814ab538e123'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692123a077adb129dcd259d'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692128ec7c6680b387515ef'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('6692089b9ae7565f315470c1'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692111e4b6c814ab538e11f'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692123a077adb129dcd2599'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692128ec7c6680b387515eb'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('6692089b9ae7565f315470c2'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692111e4b6c814ab538e120'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692123a077adb129dcd259a'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692128ec7c6680b387515ec'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('6692089b9ae7565f315470c3'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692111e4b6c814ab538e121'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692123a077adb129dcd259b'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692128ec7c6680b387515ed'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('6692089b9ae7565f315470bf'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e11d'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692123a077adb129dcd2597'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692128ec7c6680b387515e9'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('6692089b9ae7565f315470be'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692111e4b6c814ab538e11c'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692123a077adb129dcd2596'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692128ec7c6680b387515e8'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('6692089b9ae7565f315470c4'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692111e4b6c814ab538e122'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692123a077adb129dcd259c'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('6692128ec7c6680b387515ee'), 'name': 'Aparna', 'address': 'Yonder Dr'}

A single record can be deleted by specifying some criterion:

In [32]:
mylist

[{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'},
 {'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'},
 {'_id': 3, 'name': 'Ashton', 'address': 'Axle St'},
 {'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'},
 {'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'},
 {'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'},
 {'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'},
 {'_id': 8, 'name': 'Betty', 'address': 'Watters St'},
 {'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'},
 {'_id': 10, 'name': 'Kent', 'address': 'Garrison St'},
 {'_id': 11, 'name': 'Violet', 'address': 'Station St'},
 {'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}]

In [ ]:
#mycol.delete_one({ "address": "Castor Prom" })

Now delete all docs with the 2-digit `Id` values:

In [ ]:
#ANSWER:

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [ ]:
#ANSWER:

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [ ]:
#ANSWER:

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [34]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [ ]:
#client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [ ]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [ ]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [ ]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [ ]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

In [ ]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



>
>
>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---